/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--css resent end */

/*-- 全域 border box */
＊,*:after,*:before{
    box-sizing: border-box;
  }
 
/* rwd img css，可當作是 CSS Reset 其中一個 */

img{
	max-width: 100%;
	height: auto;
	display: block; /*清除 img 下面留白  */
  }
/* header */

header{
    margin-bottom: 200px;
}
.banner{
    height: 380px;
    background-image: url("../images/Hero.png");
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}
.container{
    max-width: 1000px;
    margin: 0 auto;  
    text-align: center;
}

header h1{
    padding-top: 89px;
    font-family: 'PingFangTC-Regular';
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 3.89px;
}
header select{
    margin-top: 96px;
    width: 452px;
    height: 48px;
    color: #000;
    font-size: 18px;
    line-height: 21px;
    background-color: rgba(255, 255, 255, 0.70);
    border: 3px solid #FFFFFF;
}

.menu{
    margin: 0 auto;
    margin-top: 65px;
    width: 800px;
    height: 112px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 5px;
}
.menu .title-menu{
    padding: 20px 0 0 26px;
    font-family: 'AppleSystemUIFont';
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: left;
    margin-bottom:18px;
}
/* .menu input{
    margin-right: 23px;
    width: 130px;
    height: 42px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
} */
button{
    margin-right: 23px;
    width: 130px;
    height: 42px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    border: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    /* opacity: 0.9; */
    /* filter: contrast(150%); */
    filter: saturate(200%);
    color: #000000;
    font-weight:bold ;
}
/* .menu input:hover{
    /* opacity: 0.9; */
    /* filter: contrast(150%); 
    filter: saturate(200%);
} */

.buttonList{
    display: flex;
    justify-content: center;
}
header .icon-menu{
    margin: 49px auto;
    padding-top: 7px;
    width: 900px;
    height: 26px;
    /* z-index: -1; */
    background-image: url("../images/icons_down.png");
    background-repeat: no-repeat;
    background-position: center;
}
header hr{  
    border: 1px dashed #559AC8;  
}
/* main */
/* .main{

    margin-bottom: 500px;
} */

.main .title-main{
    font-family: 'SFNSDisplay';
    font-size: 36px;
    color: #8A82CC;
    margin-bottom: 24px;
}

/* Card 的資料 */
/* .main .groups{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
.main .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main .list-card{
    /* margin: 0 8px 36px 8px; */
    margin-bottom: 40px;
    width: 464px;
    /* height: 300px; */
    /* padding-bottom: 20px; */
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
}
.list-card .img{
    width: 464px;
    height: 155px;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 464px auto;
    color: #FFFFFF;
}
.img .img-title{
    /* margin: 0; */
    padding-top: 103px;
    width: 464px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.54) 100%);
}

.title-24px{
    padding-left: 22px;
    font-size: 24px;
}
.title-16px{
    padding-right: 22px;
    font-size: 16px;
}
/* .list-card p{
    padding: 0 24px;
} */

.content-card{
    padding:35px 24px 15px;
}
.content-card p{
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.content-card img{
    padding-right: 7px;
}

.card_down_area {
    display: flex;
    justify-content: space-between;
}

.goTop{
    display:block;
    bottom:140px;
    right:28px;
    position:fixed;
}

.goTop:hover{
    cursor: pointer;
    background-color: #555;
}

.page {
    display: flex;
    justify-content: center;
}
.page li{
    /* border:1px solid; */
    width:40px;
    line-height:40px;
    /* text-align: center; */
    /* margin:10px; */
    font-size:16px;
}

.page a {
    text-decoration: none;
    color: #4A4A4A;
    display: block;
}

.page a:hover{
    background: #8A82CC;
    color:white;
}
.disable{
    color: grey;
    pointer-events: none; 
    /* padding: 5px 7px;   */
}
/* .page td{
    width: 40px;
    text-align: center;
    font-family: 'AppleSystemUIFont';
    font-size: 14px;
    line-height: 30px;
    color: #4A4A4A;  
}
.page a{
    color: #4A4A4A;
    text-decoration: none;
}
.page a:hover {
    color: #559AC8;
} */

.content{
    margin-bottom: 30px;
}
/* footer */
footer{
    background: #559AC8;
    text-align: center;
    color: #FFFFFF;
    padding-top:35px;
    padding-bottom: 18px;
}
footer p{
    font-size: 20px;
    margin-bottom: 15px;
}

.pStyle{
    color:#dfc878;
}

.purple{
    background:#8A82CC;
}

.orange{
    background:#FFA782;
}

.yellow{
    background:#F5D105;
}

.blue{
    background:#559AC8;
}